<a href="/subreddit" class="btn btn-primary">Back to Subreddits</a>
{{!-- show details of logedd in user --}}


 
<h1 class="mb-3 text-center"> {{subredditdetails.name}}</h1>
<img src="{{subredditdetails.img}}" alt="image" style="width: 100px; border-radius:100%;" />
<h2>Moderator: {{subredditdetails.moderator.username}}</h2>
<h5>About this subreddit:</h5>
<p>

  {{subredditdetails.description}}
</p>
<p>{{subredditdetails._id}}</p>
{{#if samePerson}}
  <div>
    <a href="/subreddit/{{subredditdetails._id}}/edit" class="btn btn-primary">Edit</a>
    <form action="/subreddit/{{subredditdetails._id}}/delete" method="post">
      <button class="btn btn-danger">Delete Subreddit</button>
    </form>
  </div>
{{/if}}

<hr />
{{! list all posts }}

<h3>Posts</h3>

<section class="post-list">
{{#each post}}
    <div class="post-list-card-wrapper">
 
      {{!-- {{{getVotes upvotes.length downvotes.length this ../userDetails.username }}}  --}}


    
    



            
                    
                   
                     <form action="/subreddit/{{postDetails.subreddit}}/post/{{postDetails._id}}/downvote"
                        method="post">
                   
                     </form>







  <div class="card-votes">

 <form action="/subreddit/{{../subredditdetails._id}}/post/{{_id}}/upvote/list" method="post">
<button type="submit" class="btn custom-btn btn1-lp" id="go-back-btn" style="background-color:transparent">
<svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="arrow bi bi-arrow-up-short" viewBox="0 0 16 16">
  <path
    fill-rule="evenodd"
    d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"
  ></path>
</svg>
 </button>  </form>

      <h4>{{countVotes upvotes.length downvotes.length}}</h4>


 <form action="/subreddit/{{../subredditdetails._id}}/post/{{_id}}/downvote/list" method="post">
<button class="btn custom-btn btn1-lp" id="go-back-btn" style="background-color:transparent">
       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="arrow bi bi-arrow-down-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
</svg>  </button></form>

           </div>
       
     


      <div class="post-list-card">
        <div class="card-top">
          <div >
            <span>by:</span>
            <a
                       </a>
            <a class="by-user"  href="/auth/profile/{{author._id}}">
              {{author.username}}
              <img src="{{author.profilePicture}}" alt="image" style="width: 20px; border-radius:100%;" />
            </a>
          </div>

          <div>
            
<a href="#{{_id}}">
            <span>Posted:</span>
            {{publishedAgo createdAt}}
</a>
          </div>
        </div>

        <a href="{{subreddit}}/post/{{_id}}">
          <div class="card-middle">
            <h3>{{title}}</h3>
            <p>{{text}} </p>

          </div>

          <div class="card-bottom">
            {{#if img}}
              <img src="{{img}}" alt="image" />
            {{/if}}
          </div>

          <div class="card-bottom">
<div class="votes-btm">
  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-up-short" viewBox="0 0 16 16">
                <path
                  fill-rule="evenodd"
                  d="M8 12a.5.5 0 0 0 .5-.5V5.707l2.146 2.147a.5.5 0 0 0 .708-.708l-3-3a.5.5 0 0 0-.708 0l-3 3a.5.5 0 1 0 .708.708L7.5 5.707V11.5a.5.5 0 0 0 .5.5z"
                ></path>
    </svg>

     {{upvotes.length}}
    


       <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-arrow-down-short" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M8 4a.5.5 0 0 1 .5.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5A.5.5 0 0 1 8 4z"/>
</svg> 
    {{downvotes.length}}

       </div>

          </div>
        </a>
      </div>
       </div>
    </div>
  {{/each}}
</section>
{{! </div> }}
<div class="text-center">
  <a class="btn btn-primary" href="/subreddit/{{subredditdetails._id}}/post/create">Create Post</a>
</div>