
<div class="view-container">
  <h1>List Of Subreddits</h1>




<form class="filter-container" action="/subreddit/filter" method="GET">
  <div class="form-group">
    <label for="search">Search</label>
    <input type="text" class="form-control" id="search" name="querry" placeholder="Search">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>

</form>



{{#if filteredSubreddits}}

<a href="/subreddit"><button class="btn" type="submit">Clear Filters </button></a>

<section class="subreddit-list">

      {{#each filteredSubreddits}}
   <a href="/subreddit/{{_id}}">
            <div class="subreddit-list-card" >
            <h3 class="card-title"> {{name}}</h3>
            <p class="card-text">{{description}}</p>   
           </a>
            </div>
      {{/each}}

  </section>
{{/if}}

<br />

{{!-- {{#unless !filteredSubreddits}} --}}
<section class="subreddit-list">

      {{#each subreddits}}
       <a href="subreddit/{{_id}}">
            <div class="subreddit-list-card" >
              <div class="card-top"><h3 class="card-title"> {{name}}</h3></div>
              <div class="card-middle"><p class="card-text">{{description}}</p>
              <div class="card-bottom"><img src={{image}}></div>
              </div>
            
            </div>
            </a>
      {{/each}}
 
  </section>
  {{!-- {{/if}} --}}

<div class="text-center">
  <a class="btn btn-primary" href="/subreddit/create">Create subreddit</a>
</div>
</div>