<h1>Inbox</h1>
{{chats}}

{{! for each memmebr of array render property name as h2 }}

{{#each chats}}
  <div class="card" style="width: 18rem; margin:1rem; ">
    <div class="card-body">
      <p>{{this.otherUser}}</p>
      <p>{{this._doc.text}}</p>
      <h5 class="card-title"> <a href="inbox/chatwith/{{this.otherUser_id}}">{{this.otherUser.username}}</a></h5>
      <img src="{{this.otherUser.profilePicture}}" alt="avatar" style="width: 50px; height: 50px; border-radius: 50%;" />
    </div>

  </div>

{{/each}}

{{! for each memmebr of array render property name as h2

{{! Path: views\users\message.hbs }}