{{#if userInSession}}
<div class="container mt-4 mb-4 p-3 d-flex justify-content-center">
  <div class="card p-4">
    <div class=" image d-flex flex-column justify-content-center align-items-center">
  <h2 class="title">Welcome, {{userInSession.username}}!</h2>

   
    <img class="rounded mx-auto d-block justify-content-center align-items-center" src="{{userInSession.profilePicture}}" alt="Profile picture"
      style="width: 300px; margin-bottom:10px;" />

    <p><span class="name mt-3"> {{userInSession.firstName}}  {{userInSession.lastName}}</span></p>
    
 <div class="text mt-3">
    <p><b>About me:</b> {{userInSession.aboutMe}}</p> </span> </div>
    <p><b>E-mail address:</b><span class="idd"> {{userInSession.email}}</span></p>
    <p><b>Posts:</b> {{postArr.length}}</p>

    <p><b>Comments:</b> {{commentArr.length}}</p>

    {{#if samePerson}}
    <div class="d-flex justify-content-center">
       <div class=" d-flex mt-2"> <button class="btn btn-dark"> <a href="/auth/profile/{{userInSession._id}}/edit">Edit profile</a></button></div>
       </div>
      <div class=" d-flex mt-2"> <button class="btn btn-danger"><a href="/auth/profile/{{userInSession._id}}/delete">Delete</a></button></div>
       
    
    {{else}}
    <div>
      <a href="/inbox/sendmsg/{{userInSession._id}}">Send message</a>
    </div>
    {{/if}}

  </div>

  {{else}}

  <br />
  <p>Still no logged in user, sorry!</p>

  {{/if}}
  </div>
  </div>
</div>