{{!-- views/users/user-profile.hbs --}}
 
{{!-- the new version, with the session: --}}
 
{{#if userInSession}}
  <h2>Welcome, {{userInSession.username}}!</h2>
  <p>This is your profile page my friend!</p>
  <button>
    <a href="/auth/profile/{{userInSession._id}}">Reload the page</a>
  </button>

  <div>
    <img src="{{userInSession.profilePicture}}" alt="Profile picture" style="width: 300px;" />
    
    <!--To be modified-->
    <p><b>Name:</b> {{userInSession.firstName}} {{userInSession.lastName}}</p>
    <p><b>E-mail address:</b> {{userInSession.email}}</p>
    <p><b>Posts:</b> {{postArr.length}}</p>
   <!-- {{#each postArr}}
<p>

  {{this.title}}
</p> 

    {{/each}}-->
    <p><b>Comments:</b> {{commentArr.length}}</p>


{{#if samePerson}}
    <div>
        <a href="/auth/profile/{{userInSession._id}}/edit">Edit profile</a>
        <a href="/auth/profile/{{userInSession._id}}/delete">Delete</a>
    </div>
{{/if}}
  </div>

{{else}}
  
  <br><p>Still no logged in user, sorry!</p>
 
{{/if}}
