<h2>Post Details</h2>
<section class="post-details">


<h2>{{postDetails.title}}</h2>


      <p>
       
        <span>Posted by: {{postDetails.author.username}} </span>
       
       <p>
       
        {{postDetails.text}}
    </p>
    </p>
   
    <button type="submit"> Upvote</button>
    <button type="submit"> Downvote</button>
  
    
<img src="{{postDetails.img}}" alt="image">
<br>
<!-- jump link to comment thread  -->

<a href="#comment_thread">{{postDetails.comments.length}} Comments.</a> <br>
   {{postDetails.votes.length}} <br>
<hr>

<h5>Comment as {{postDetails.author.username}}:</h5>
<!-- needs form action and may need to add value here -->
<form action="" method ="post">
   <label>
   Comment:
    <textarea name ="comment" cols ="30" rows ="4" /> </textarea>
     
</label>
<button type="submit">Comment</button>

</form>

<hr>
 <!-- Comments thread will appear here for the specific post -->
 <h2 id ="comment_thread">Comments for this thread:</h2>
 {{#each dataFromDb}}
{{this.comments}}
{{/each}}

<p>
    <button><a href="/posts/{{this._id}}/edit">Edit</a></button>

   <button><a href="/posts/{{this._id}}/edit">Delete</a></button>

</p>