<h2>Post Details</h2>
<section class="post-details">


      <p>
        <span>{{subreddit}}</span>
        <span>Posted by: {{author}} </span>
       
    </p>
    <h2>{{title}}</h2>
    <button type="submit"> Upvote</button>
    <button type="submit"> Downvote</button>
  
    <p>
       
        {{text}}
    </p>
<img src="{{img}}" alt="image">
<br>
<a href="#">{{comments.length}} Comments.</a> <br>
   {{votes.length}} <br>
<hr>

<h2>Comment as {{author}}:</h2>

<form action="" method ="post">
   <label>
   Comment:
    <textarea name ="comment" cols ="30" rows ="4" /> </textarea>
     
</label>
<a href="/posts/post-details"><button type="submit">Comment</button></a>

</form>

<hr>
 
 <h2>Comments for this thread:</h2>
 {{#each dataFromDb}}
{{this.comments}}

{{/each}}
