<h2>Post Details</h2>
<section class="post-details">


      <p>
        <span>{{subreddit}}</span>
        <span>Posted by: {{author}} </span>
       
    </p>
    <h2>{{title}}</h2>
    <button type="submit"> Upvote</button>
    <button type="submit"> Downvote</button>
  
    <p>
       
        {{text}}
    </p>
<img src="{{img}}" alt="image">
<br>
<!-- jump link to comment thread  -->

<a href="#comment_thread">{{comments.length}} Comments.</a> <br>
   {{votes.length}} <br>
<hr>

<h2>Comment as {{author}}:</h2>
<!-- needs form action and may need to add value here -->
<form action="" method ="post">
   <label>
   Comment:
    <textarea name ="comment" cols ="30" rows ="4" /> </textarea>
     
</label>
<button type="submit">Comment</button>

</form>

<hr>
 <!-- Comments thread will appear here for the specific post -->
 <h2 id ="comment_thread">Comments for this thread:</h2>
 {{#each dataFromDb}}
{{this.comments}}
{{/each}}

<p>
    <button><a href="/posts/{{this._id}}/edit">Edit</a></button>

   <button><a href="/posts/{{this._id}}/edit">Delete</a></button>

</p>