<section class="post-details">


<h1>{{postDetails.title}}</h1>


<p> data: {{data.comments}}</p>
      <p>
       
        <span>Posted by: {{postDetails.author.username}} </span>
       
       <p>
       
        {{postDetails.text}}
    </p>
    </p>
   

    <button type="submit"> Upvote</button>
    <button type="submit"> Downvote</button>
  
    
<img src="{{postDetails.img}}" alt="image">
<br>
<!-- jump link to comment thread  -->

<a href="#comment_thread">{{postDetails.comments.length}} Comments.</a> <br>
   {{postDetails.votes.length}} <br>
<hr>

<h5>Comment as {{postDetails.author.username}}:</h5>
<!-- needs form action and may need to add value here -->
{{!-- <form action="/subreddit/{{postDetails.subreddit}}/post/{{postDetails._id}}" method ="post"> --}}
<form action="/subreddit/{{postDetails.subreddit}}/post/{{postDetails._id}}" method ="post">
   <label>
   Comment:
    <textarea name ="text" cols ="30" rows ="4" /> </textarea>
     
</label>
<button type="submit">Comment</button>

</form>

<hr>
 <!-- Comments thread will appear here for the specific post -->
 <h2 id ="comment_thread">Comments for this thread:</h2>
 {{#each dataFromDb}}
{{this.comments}}
{{/each}}

<p>
    <button><a href="/posts/{{this._id}}/edit">Edit</a></button>

   <button><a href="/posts/{{this._id}}/edit">Delete</a></button>

</p>


{{#each comments}}
  <div class="subreddit">
    <p>Static text</p>
    <h4>{{text}}</h4>
    <p>{{author.username}}</p>
    <a href="subreddit/{{_id}}">{{name}}</a>
  </div>
{{/each}}