<div class="crud-div">
    <a href="javascript:history.back()"><button class="btn custom-btn btn1-lp" id="go-back-btn"><svg
                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                    d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
            </svg>Go Back</button></a>
</div>


<div class="crud-div">
    <h3>Create a new post</h3>
    <hr class="crud-bar">

    {{#if name}}
    <h4><b>For the community:</b> {{name}}</h4> <br>
    {{/if}}
    <form action="/subreddit/{{_id}}/post/create" method="post" enctype="multipart/form-data">
        <label class="crud-labels">
            Title:
            {{#if title}}
            <input class="input-text-crud" type="text" name="title" value={{title}} />
            {{else}}
            <input class="input-text-crud" type="text" name="title" placeholder="Enter a title" />
            {{/if}}
        </label>
        <br>
        <label class="crud-labels">Text:
            <textarea class="form-control" name="text" cols="34" rows="4" placeholder="Enter a text" /></textarea>
        </label>
        <br>
        <label class="crud-labels">Picture:
            <input class="crud-img" type="file" name="img" />
        </label>
        <br>
        <button class="btn custom-btn btn1-lp" id="crud-btn-update" type="submit">Create Post</button>
    </form>
</div>


{{#if errorMessage}}
<div class="crud-div">
    <p class="error">{{errorMessage}}</p>
</div>
{{/if}}